.App {
  background-color: white;
  text-align: center;
}

.App-header {
  background-color: #22262F;
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.App-explanation {
  background-color:#22262F;
  min-height: 10vh;
  width: 95vh;
  font-size: calc(2px + 2vmin);
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-right: 5em;
}

img {
  border-radius: 10px;
  width: 70%;
  height: auto;
  margin-top: 1em;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*phone*/
@media only screen and (max-width: 600px) {
.Content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-explanation {
  background-color: #282c34;
  min-height: 10vh;
  font-size: calc(2px + 2vmin);
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  width: 80%
}
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

